
*
{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.gradient-custom
{
    display: flex;
    justify-content: center;/* Horizontally center the child */
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background: #6a11cb;


background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));


background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


.valid
{
    background-color: #86c541;
}



.error {
    color: red;
}