<!DOCTYPE html>
<html lang="en">

<head>
	<title>Newtonová metóda</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/src/main/resources/static/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="/src/main/resources/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/main.css">
	<!--===============================================================================================-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.0/math.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	

	<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/lan.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic" data-tilt>
					<div id="plot"></div>
					<table id="table"  class="table table-bordered">

						<tbody>
				
						</tbody>
					</table>
				</div>

				<div class="login100-form validate-form">
					<span class="login100-form-title">
                        <h1>Newtonová metóda</h1>
					</span>

					<div class="wrap-input100 validate-input text-center">
						<label class="text-center" for="equation">Rovnica</label>
						<input class="input100" id="equation" type="text" placeholder="f(x) = 0">
						<span class="focus-input100"></span>
					</div>

					<p class ="error" id="equation-error"></p>

					<div class="wrap-input100 validate-input text-center">
						<label for="tolerance">Tolerancia</label>
						<input class="input100" id="tolerance" type="number"   step="1" value="0.001" onchange="checkValues()">
						<span class="focus-input100"></span>
					</div>

					<p class ="error" id="tolerance-error"></p>


					<div class="wrap-input100 validate-input text-center">
						<label for="initial">Počiatočná aproximácia</label>
						<input class="input100" id="initial" type="number" 
							placeholder="">
						<span class="focus-input100"></span>
					</div>

					<p class ="error" id="initial-error"></p>

					<div class="wrap-input100 validate-input text-center">
						<label for="initial">Koreň rovnice</label>
						<input class="input100" id="result" type="text" 
							placeholder="" readonly>
						<span class="focus-input100"></span>
					</div>

					<p class ="error" id="progress-error"></p>



					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="newtonMethod()">
							Spočítaj
						</button>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="newtonMethod()">
							Ulož do súboru
						</button>
					</div>



					<div class="text-center p-t-136">
						<a class="txt2" href="#">
						</a>
					</div>

				</div>

			</div>
		</div>

	</div>




	<script src="/src/main/resources/static/js/non-linear.js"></script>










</body>

</html>