
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/pages/main/index}">
<body>

<div layout:fragment="content" class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card"  th:if="${personalInfo.role == T(com.milos.numeric.Role).ROLE_TEACHER}">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nahrať materiál</h4>
                        <p class="card-description"></p>
                        <div class="form-group">
                            <label for="name-input"><h5>Názov materiálu*</h5></label>
                            <input name="name" type="text" class="form-control" id="name-input" minlength="1" maxlength="15" placeholder="Počet znakov v rozsahu 1-15!" >
                            <p class="error" id="name-input-error-hint"></p>
                        </div>


                        <div class="form-group">
                            <label><h5>Súbor*</h5></label>
                            <input id="file-input"
                                   type="file" accept=".pdf, .docx, .png, .jpg, jpeg, .csv, .pptx" size="5242880"
                                   name="data" class="file-upload-default" onchange="setFileName()">
                            <div class="input-group col-xs-12">
                                <input id="text-input" type="text" class="form-control file-upload-info" disabled placeholder="Podporované typy: pdf, docx, png, jpg, jpeg, csv, pptx.">
                                <span class="input-group-append"><button onclick="clickOnInput()" class="file-upload-browse btn btn-primary" type="button">Vložiť</button></span>
                            </div>
                            <p class="error" id="file-input-error-hint"></p>
                        </div>

                        <div class="form-group">
                            <label for="file-description"><h5>Popis</h5></label>
                            <textarea id="file-description" name="description"  class="form-control"  rows="4" maxlength="50" placeholder="Maximálne 100 znakov!"></textarea>
                        </div>

                        <button id="submit-button" th:attr="onclick=|canSubmit('${personalInfo.username}')|" type="button" class="btn btn-success btn-icon-text"><i class="mdi mdi-upload btn-icon-prepend"></i>Odoslať</button>

                    </div>
                </div>
            </div>
            <div th:class="${personalInfo.role == T(com.milos.numeric.Role).ROLE_TEACHER} ? 'col-md-6 grid-margin stretch-card' : 'col-md-5 grid-margin stretch-card'">
                <div  class="card" id="conversation-div">
                    <div  class="card-body" >
                        <h4 class="card-title">Materiály</h4>
                        <div class="table-responsive">
                            <table  class="table table-dark" style="color: white">
                                <thead>
                                <tr>
                                    <th style="color: white;">Názov</th>
                                    <th style="color: white">Popis</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(materials)}">

                                </tr>
                                <tr  th:id='${material.id}' th:each="material : ${materials}">
                                    <td><span  th:text="${material.name}"></span></td>
                                    <td><span  th:text="${material.description}"></span></td>
                                    <td>
                                        <button th:attr="onclick=|openFile('${material.id}')|"  type="button" class="btn btn-success btn-fw">Zobraziť</button>
                                    </td>
                                    <td  th:if="${personalInfo.role == T(com.milos.numeric.Role).ROLE_TEACHER}">
                                        <button th:attr="onclick=|deleteFile('${material.id}')|" type="button"  class="btn btn-danger btn-fw">Odstrániť</button>
                                    </td>
                                    <td>

                                    </td>

                                </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                    href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
        </div>
    </footer>
</div>

</body>
</html>

