
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/pages/main/index}">
<body>

<div layout:fragment="content" class="main-panel">
    <div class="content-wrapper">

        <div class="row">
            <div class="col-lg-7 grid-margin stretch-card">
                <div style="background-color: #6c757d" class="card">
                    <div class="card-body">
                        <h4 class="card-title"></h4>

                        <div class="table-responsive">
                            <table class="table table-dark" style="color: whitesmoke">
                                <thead>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>Nasledujúce cvičenie</td>

                                    <td th:text="${systemSettings.classDate}"> </td>


                                </tr>

                                <tr>
                                    <td>Počet dní do cvičenia</td>

                                    <td th:text="${systemSettings.numberOfDays}"></td>

                                </tr>





                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                    href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
        </div>
    </footer>
</div>

</body>
</html>

